<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/blog-post.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>10 Beautiful Modern Doll Houses</h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">Start Bootstrap</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="" alt="">

                <hr>

                <img class="img-responsive" src="http://www.vintagelooks.com/Store/Large/hw-1148.jpg" alt="">
                <br>
                <!-- Post Content -->
                <p class="lead">Alexis: You always post so many cute pictures on Instagram. Is there any meaning behind your IG name Sparklecious?</p>
                <p>Nadine: Aw, thanks! Not really: I just like sparkles. And delicious food. So…sparklecious!</p>
                <p class="lead">A: When did you become serious about collecting dolls?</p>
                <p>N: About a year ago, when I was sick in bed with pneumonia and had nothing to do except research dollies on the internet…and by research, I mean buy! </p>
                <p class="lead">A: If you had to get rid of all of your dolls except one, which one would you save and why?</p>
                <p>N: Argh! Too hard! Every time I pick a girl up I’m convinced she’s the ONE. Then I pick up another and she’s the one…and so on.</p>
                <p class="lead">A: A lot of your doll clothing is vintage. Is there a specific era of fashion that you favor over others? Do you have any favorite online shops that you buy clothing from?</p>
                <p> N: I love mod era clothing. 1970 was a great year for my dollies. Vintage Skipper doll clothing is my absolute obsession - it fits Blythe dolls so well. I buy it from other collectors and from eBay mostly. I’m a total bargain hound and I am always stalking a good vintage deal. I do that in real life too, I barely ever buy anything new. Makers of retro styled clothing that I also like are Endangered Sissy and Plastic Fashion on Etsy and Vintage City Gem on Instagram. For street style, my absolute FAV is Pomipomari on etsy (she’s on IG too) </p>
                <hr>
                <p class="lead">A: Do you have any tips for the beginning doll photographer?</p>
                <p> N: Work to your strengths and chase the light. I have no technical skill as a photographer and I just use my phone, so I decided to concentrate on composition and colour, and realised early on that if the light is bad, the image is bad. I built a DIY lightbox off an online tutorial and that made ALL the difference to my image quality. There are lots of blog posts about framing, composition etc, I’d read those. Oh, and it takes practice to pose your dollies - mine all looked…differently abled…for many months until I got better at it. I’m still pretty lazy about that, but I know that about myself and I play to my strengths! </p>
                <p class="lead">A: Where do you draw inspiration from for your photography? Are you inspired by any specific websites, artists, movies, or music?</p>
                <p> Candy minimalism and 60’s and 70’s fashion spreads! I love Violet Tinder on Instagram, and there are a few toy accounts - like yours actually - that I adore for their retro vibe. I also really like the happycolors hashtag - so much good inpso there. </p>
                <p class="lead">A: If you could collaborate with any artist, company, or celebrity, who would that be?</p>
                <p>N: I have honestly never given this any thought. I am just a woman who takes pictures with her phone, not really a maker, although I do sew and craft some things for my dolls. It would be pretty fun to be able to style and photograph fashion spreads for my fav dolly designers that I mentioned above though! That’s a collab I can totally get behind.</p>
                
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
