@import "bootstrap";






p {
    
    

    font-family: "Soleil W01",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 19px;
width: 65%;
  margin: auto;
  
}



 img {

 display: inline-block;

 height: auto;

 max-width: 100%;

 }


