@import "bootstrap";


.pin {
  width: 20em;
  height: 25em;
  margin: .8em;
  float: left;
  padding: 5px;
  padding-bottom: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pin img {
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
}


.description {
    position: absolute;
    right: 0px;
    width: 100px;
    border: 3px solid #73AD21;
    padding: 100px;
}

body  {
    background-image: url("http://www.notcot.org/images/bg-w.gif");
 }

 h2 {
 font-family: "Soleil W01",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 15px;
font-weight: 200;
position: absolute;

display: block;
width: 247px;
height: 58px;
 }